.parentlogin {
  font-family: "Netflix Sans Regular";
  background-image: url("../Signin/Signin.jpg");
  background-size: cover;
  height: 100vh;
  color: #ffffff;
}

.logosvg {
  position: relative;
  z-index: 10;
  height: 45px;
  width: 167px;
  margin-left: 40px;
  margin-top: 23px;
}

.loginbox {
  background-color: rgba(0, 0, 0, 0.75);
  height: 450px;
  border-radius: 10px;
  width: 400px;
  padding: 60px 20px 60px 40px ;
  position: relative;
  margin: 40px auto auto auto ;
  z-index: 10;
}
.loginbox h2{
  letter-spacing: 1px;
  font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
}
.loginbox input{
  border-radius:5px ;
  color:#fff ;
  padding: 15px;
  padding-right: 100px;
  border:none;
  background: #333;
  border-bottom: 2px outset #ff8a05 ;
  outline: none;
  margin-bottom: 30px;
}

.signinbutton{
      background: #e50914 !important;
      border-color:#e50914 !important ;
      width: 320px;
      height: 45px;
      font-weight:600 !important;
      letter-spacing: 1px;
      margin: auto;
      outline: none;
}
.otherlogin{
  display: flex;
  margin-top: 20px;
  color: #737373;
  font-size: 14px;
}
.fblogin{
  width: 70%;
}
.fblogin img{
  height: 20px;
}